<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="Cache-Control" CONTENT="no-cache" />
        <title>工作日志</title>
        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="../css/common/common.css" rel="stylesheet" type="text/css"/>
        <link href="../css/control/main.css" rel="stylesheet" type="text/css"/>
        <link type="text/css" href="../../resources/js/jqueryui/jquery-ui.css" rel="stylesheet"/>
        <link href="../../resources/css/common/common.css" rel="stylesheet" type="text/css" />
        <link type="text/css" href="../../resources/css/control/report.css" rel="stylesheet"/>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="../js/html5shiv.js" type="text/javascript"></script>
          <script src="../js/respond.js" type="text/javascript"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
               <div class="panel panel-default">
                  <div class="panel-heading">合同信息</div>
                  <div class="panel-body">
                      <table class="table">
                        <tbody>
                            <tr>
                                <td class="cen1 font_bold">合同编号</td>
                                <td class="cen2"><span id="htbh"></span></td>
                                <td class="cen1 font_bold">合同名称</td>
                                <td class="cen2"><span id="htmc"></span></td>
                                <td class="cen1 font_bold">职位</td>
                                <td class="cen2"><span id="zw"></span></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">工作信息</div>
                  <div class="panel-body">
                      <table class="table">
                        <tbody class="cen3">
                            <tr class="font_bold">
                                <td>甲方：</td>
                                <td>乙方</td>
                                <td>价格：</td>
                                <td>支付方式</td>
                            </tr>
                            <tr>
                                <td><span id="cn"></span></td>
                                <td><span id="lanceN"></span></td>
                                <td><span id="jg1"></span></td>
                                <td><span id="zffs"></span></td>
                            </tr>
                            <tr class="font_bold">
                                <td>工作开始时间</td>
                                <td>工作结束时间</td>
                                <td>状态</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><span id="gzkssj"></span></td>
                                <td><span id="gzjssj"></span></td>
                                <td><span id="zt"></span></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <form class="form-search">
                        <select name="select" id="sel_year" class="xla_k">
                            <script id="year-cnt-sp1" type="text/html">
                                {{each list as data i}}
                                    <option value={{data}}>{{data}}</option> 
                                {{/each}}
                             </script>
                        </select>
                        <select name="select" id="sel_month" class="xla_k">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <button type="button" class="btn btn-xs btn-info" id="last_mon">上月</button>
                        <button type="button" class="btn btn-xs btn-info" id="next_mon">下月</button>
                    </form>
                    <table class="table table-hover">
                        <thead>
                            <tr class="info">
                                <th style="width:60px;">
                                   <input name="456" type="checkbox" id="selAll" />
                                </th>
                                <th style="width:90px;">日期</th>
                                <th style="width:80px;">星期</th>
                                <th>地点</th>
                                <th>工作内容</th>
                                <th style="width:80px;">工时(小时)</th>
                                <th>备注</th>
                                <th style="width:80px;">状态</th>
                                <th>状态备注</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="rep-cnt" class="tbody-class">
                            <script id="rep-cnt-sp1" type="text/html">
                                {{each list as data i}}
                                     <tr>
                                        <td>
                                          <input name="rep_check" type="checkbox" id="ch{{i+1}}" uuid="{{data.Uuid}}" datev="{{data.SysDateRec}}"/>
                                        </td>
                                        <td>{{data.SysDateRec}}</td>
                                        <td>{{data.Day}}</td>
                                        <td><span id="adr{{i+1}}">{{data.Address}}</span></td>
                                        <td><span id="wc{{i+1}}">{{data.WorkContent}}</span></td>
                                        <td><span id="wh{{i+1}}">{{data.WorkHours}}</span></td>
                                        <td><span id="wr{{i+1}}">{{data.WorkRemark}}</span></td>
                                        <td>{{data.StatusName}}</td>
                                        <td><span id="sr{{i+1}}">{{data.StatusRemark}}</span></td>
                                        <td>
                                          {{if data.WorkContent != null}}
                                              {{if (data.Role=='lancer' && (data.Status=='posted' || data.Status=='reject'))}} 
                                                <button type="button" name="btn_wd" id="bwd_{{i+1}}" class="btn btn-xs btn-info">撤回</button>
                                              {{else if (data.Role=='client' && (data.Status=='posted' || data.Status=='reject'))}}
                                                 <button type="button" name="btn_cf" class="btn btn-xs btn-info">确认</button>
                                              {{else if (data.Role=='client' && data.Status=='confirm')}}
                                                 <button type="button" name="btn_rej" id="btn_{{i+1}}" class="btn btn-xs btn-info btn-rej">拒绝</button>
                                              {{else if (data.Role=='client' && data.Status=='withdraw')}}
                                                <button type="button" name="btn_del" class="btn btn-xs btn-warning">删除</button>
                                              {{/if}}
                                          {{/if}}
                                        </td>
                                    </tr>
                                {{/each}}
                             </script>
                        </tbody>
                    </table>
                    <form>
                        <div class="alert alert-info" role="alert" id="gloal-msg" style="display:none;"></div>
                        <div id="btn-area">
                           <script id="rep-btn-sp1" type="text/html">
                                {{if role=="CLIENT"}} 
                                    <button type='button' class='btn btn-info' id='btn-plsp'>批量审批</button>
                                {{else if role=="LANCER"}}
                                    <button type='button' class='btn btn-info' id='btn-pltx'>批量填写</button>
                                {{/if}}
                            </script>
                        </div>
                        <br/>
                        <br/>
                    </form>
                </div>
            </div>
        </div>
        <!--lancer-->
        <div id="modal-area">
           <script id="rep-modal-sp1" type="text/html">
                {{if role=="CLIENT"}} 
                <!--甲方-->
                <div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">编辑</h4>
                            </div>
                            <div class="container-fluid">
                                <div class="row-fluid">
                                     <h4 class="lan-font-green">
                                        帮助信息<br />
                                        <small class="lan-font-16">帮助信息，关于XXX</small></h4>
                                     <br />
                                      <form class="lan-frm-regist" action="#" method="post" role="form">
                                         <div class="form-group">
                                            <label for="cdate" class="control-label">日期</label>
                                            <span id="cdate"></span>
                                         </div>
                                         <div class="form-group">
                                            <label for="inp_remark" class="control-label">备注</label>
                                            <textarea class="form-control" id="inp_remark" rows="3"></textarea>
                                         </div>
                                        <div id="clientMsg" class="alert alert-warning alert-dismissible" role="alert" style="display:none;">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                          <strong style="color:Red;">系统提示:</strong><span id="cli-msg" style="color:Red;"></span>
                                        </div>
                                        <span id="hide-ids" style="display: none;"></span>
                                     </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn_confirm" data-loading-text="保存中..." class="btn btn-primary">确认工作量</button>
                                <button type="button" id="btn_reject" class="btn btn-primary">拒绝</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{else if role=="LANCER"}}
                <div class="modal fade" id="lancerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">编辑</h4>
                            </div>
                            <div class="container-fluid">
                                <div class="row-fluid">
                                     <h4 class="lan-font-green">
                                        帮助信息<br />
                                        <small class="lan-font-16">帮助信息，关于XXX</small></h4>
                                     <br />
                                      <form class="lan-frm-regist" action="#" method="post" role="form">
                                         <div class="form-group">
                                            <label for="date" class="control-label">日期</label>
                                            <input type="text" class="form-control" id="date" placeholder="" readonly="readonly"
                                                data-container="body" data-toggle="popover" data-placement="right" 
                                                data-trigger="manual" data-animation="false" />
                                          </div>
                                         <div class="form-group">
                                           <label for="inp_address" class="control-label">地点</label>
                                            <input type="text" class="form-control" id="inp_address" placeholder=""
                                                data-container="body" data-toggle="popover" data-placement="right" 
                                                data-trigger="manual" data-animation="false" />
                                         </div>
                                         <div class="form-group">
                                            <label for="inp_workCon" class="control-label">工作内容</label>
                                            <textarea class="form-control" id="inp_workCon" rows="3"></textarea>
                                         </div>
                                         <div class="form-group">
                                            <label for="inp_hours" class="control-label">工时</label>
                                            <input type="text" class="form-control" id="inp_hours" placeholder=""
                                                data-container="body" data-toggle="popover" data-placement="right" 
                                                data-content="工时必须为大于0并且小于24的正整数" data-trigger="manual" data-animation="false" />
                                        </div>
                                        <div class="form-group">
                                            <label for="inp_comments" class="control-label">备注</label>
                                            <textarea class="form-control" id="inp_comments" rows="3"></textarea>
                                        </div>
                                        <div id="lancerMsg" class="alert alert-warning alert-dismissible" role="alert" style="display:none;">
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                          <strong style="color:Red;">系统提示:</strong><span id="lan-msg" style="color:Red;"></span>
                                        </div>
                                     </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn_commit" data-loading-text="提交中..." class="btn btn-primary">提交</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
           </script>
        </div>
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="../../resources/js/jquery-1.9.1.min.js" type="text/javascript"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../../resources/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../resources/js/jquery.json-2.4.js" type="text/javascript"></script>
        <script src="../../resources/js/template.js" type="text/javascript"></script>
        <script src="../../resources/js/control/lan_check.js" type="text/javascript"></script>
        <script src="../../resources/js/page/contractReport.js" type="text/javascript"></script>
    </body>
</html>